.intro,
main {

  margin-top: 2em;
}

.intro {
  height: 15em;
  background-color: lighten(rgba(34, 34, 34, .4), 80%);
  border-radius: 15px;
  @include flexy(flex, column) {
    justify-content: center;
  }
}

.credentials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lambda {
  border-radius: 50%;
}

.aws {
  border-radius: 40%;
}

.skills {
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  & * {
    color: $white;
    background-color: #000;
    padding: .5rem;
    border-radius: 15px;
    opacity: .8;
  }


}

.intro-header {
  text-align: center;
}

.intro-text {
  text-align: center;
}

.about-me-text {
  margin: 0 auto;
  max-width: 800px;
  padding: 0px 10px;
}

h2 {
  text-align: center;
}

.card-list {
  @include flexy(flex, row, wrap, space-around);
  align-items: center;
  width: 90%;
  @extend %center;
  margin-bottom: 2em;
}

.card {
  width: 100%;

  margin: 5px;
  border: 1px solid $grey;
  border-radius: 10px;
  cursor: pointer;
  @include mq(small) {
    width: 47%;
  }
  @include mq(medium){
    width: 30%;
  }
  @include mq(large) {
    width: 23%;
  }

}

.contact {
  margin: 0 1em;
}
.contact-list {
  padding: 0;
  @include flexy(flex, column);
  @include mq(small) {
    @include flexy(flex, row, null, space-around);
  }

}
.contact-item {
  display: inline-block;
  text-align: center;
  & > p:nth-child(2n+1) {
  font-weight: $font-weight--bold;
 }

}

.contact-info {
  color: $cornflower;
}

.social-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  margin-top: 2em;
  padding: 0;
  max-width: 800px;

}

.calling-card {
  margin: 0;
  background-color: rgba(0,0,0,.6);
  color: $white;
  font-weight: $font-weight--thin;
  border-radius: 0 0 10px 10px;
  padding: 3px;
  transform: translateY(-100%);
  margin-bottom: -24px;
  @include mq(small){
    display: none;
  }
}

//
#noscript {
  border: 3px solid $black;
  border-radius: 15px;
  padding: 2em;
  margin: 1em;

}

.no-js-notice {
  background-color: $red;
  color: $white;
  text-align: center;
}
