.intro,
main {
  margin: 0 1em;
}

h2 {
  text-align: center;
}

.card-list {
  @include flexy(flex, row, wrap, space-around);
  align-items: center;
}

.card {
  width: 95%;
  background-color: lighten($green, 5%);
  margin: 5px;
  border: 1px solid $grey;
  border-radius: 10px;
  padding: 1em;
  @include mq(small) {
    width: 47%;
  }
  @include mq(medium){
    width: 30%;
  }
  @include mq(large) {
    width: 23%;
  }

}
