#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  font-size: 5em;
  background-color: #000;
  opacity: .75;
  z-index: 55;
}

.modal-card {
    position: fixed;
    background-color: #fff;
    border-radius: 10px;
    border: 5px solid $green;
    display: fixed;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    padding: 1em 2em;
    z-index: 55;
    left: 50%;
    top: 50%;
    width: 75%;
    max-width: 500px;
    @include mq(small) {
      width: 60%;
    }
    @include mq(medium) {
      width: 50%;
    }
    @include mq(large) {
      width: 40%;
    }
}

.modal-card-text {
  text-align: center;
}


.arrow-container {
  @include flexy(flex, row, null, space-between);
  width: 95%;
  align-items: center;
  margin: 0 auto;
  max-width: 750px;
  @include mq(small) {
    width: 85%;
  }
  @include mq(medium) {
    width: 70%;
  }
  @include mq(large) {
    width: 55%;
  }

}

#left-arrow,
#right-arrow,
.active {
  cursor: pointer;
  margin: 0;
  padding:0;
  display: table;
  text-align: center;
  transform: translate(0%, 0%);
  font-size: .4em;
  @include mq(small){
    font-size: .7em;
  }

}

.modal-card {
  transition: transform .3s ease-in-out 0s;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0;
    color: green;
    }

//Modal carousel media query

.left-cards {
  transform: translate(-170%, -50%);
  @include mq(small) {
    transform: translate(-175%, -50%);
  }
  @include mq(medium) {
    transform: translate(-185%, -50%);
  }
  @include mq(large) {
    transform: translate(-210%, -50%);
  }

}

.right-cards {
  transform: translate(70%, -50%);
  @include mq(small) {
    transform: translate(75%, -50%);
  }
  @include mq(medium) {
    transform: translate(85%, -50%);
  }
  @include mq(large) {
    transform: translate(110%, -50%);
  }
}

.offscreen-right {
  transform: translate(500%, -50%);
}

.offscreen-left {
  transform: translate(-500%, -50%);
}

.center {
  transform: translate(-50%, -50%);
}

.close-button {
  width: 100%;
  color: $white;
  text-align: center;
  transform: translate(-22%, -325%);
  text-decoration: underline;
  @include mq(small) {
    transform: translate(0%, -325%);
  }
  @include mq(medium) {
    transform: translate(0%, -325%);
  }
  @include mq(large) {
    transform: translate(0%, -325%);
  }
}
