nav {
  @include flexy(flex,row);
    background-color: #000;
    opacity: .1;
    justify-content: space-around;
    color: $white;
    margin-top: 1em;
  & > p {
    margin-left: 1em;
    margin-right: auto;
    display: none;
    @include mq(small){
      display: inline;
    }

}
}

.nav-bar {
  @include flexy(flex,row);

  padding: 0;
  & >li a {
    color: $white;
    padding: 0 1em;


  }

  @include mq(medium){
    width: 35%;
  }
}
