nav {
  @include flexy(flex,row);
    background-color: #000;
    opacity: .8;
    justify-content: space-around;
    color: $white;
    margin-top: 1em;
    border-radius: 10px;
    z-index: 2;
  & > p {
    margin-left: 1em;
    margin-right: auto;
    display: none;
    @include mq(small){
      display: inline;
    }
}
}

.nav-bar {
  @include flexy(flex,row);
  padding: 0;
  & >li a {
    color: $white;
    padding: 0 1em;
    &:hover {
      color: lighten(green, 55%);
      transition: all .1s;
    }
  }
  & >li:hover{
    transform: scale(1.07);
    transition: all .1s;
  }

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
